* {
  color: white;
  margin: 10px;
}

p { display: inline-block; }
ul { padding-top: 30px; }

.marked, .fa-check {
  color: #95e695;
  animation: flicker 1s infinite alternate;
}

.fa-check {
  position: absolute;
  left: -33px;
  top: -10px;
  font-size: 21px;
}

@keyframes flicker {
  to { filter: brightness(.7); }
}

#header {
  background-color: #303335;
  position: fixed;
  width: calc(100% - 208px);
  height: 300;
  top: 40px;
  right: -2px;
}

@media screen and (max-width: 800px) {
  #header {
    width: 100%;
  }
}
