<div *ngIf="user">
  <div class="container-fluid">
    <div class="row">
      <select (change)="select($event.target.value)" #selection>
        <option *ngFor="let deck of decks" value={{deck.$key}}>{{deck.name}}</option>
        <option value="$creating">Create New Deck</option>
      </select>
      <button class="btn btn-outline-danger btn-sm" [hidden]="creatingDeck" (click)="tossDeck(selection.value)">Remove Deck</button>
      <form [hidden]="!creatingDeck">
        <div class="input-group">
          <input type="text" placeholder="Deck name" #deckName>
          <div class="input-group-append">
            <button class="btn btn-info btn-sm" (click)="runCreateDeck(deckName.value); deckName.value= ''">Create</button>
          </div>
        </div>
      </form>
    </div>

    <button class="btn btn-outline-info" (click)='checker()'>dev btn</button>

    <div id="tags" class="row">
      <!-- <div class="tag">
        <div class="triangle"></div>
        <div class="rectangle">Intro</div>
        <div class="circle"></div>
      </div> -->
    </div>
  </div>
</div>
