<div class="container-fluid">
  <div class="row">




      <select (change)="select($event.target.value)">
        <option>Deck 2</option>
        <option>Deck 3</option>
        <option value="$creating">Create New Deck</option>
      </select>
      <button class="btn btn-outline-danger btn-sm" [hidden]="creatingDeck">Remove Deck</button>
      <form [hidden]="!creatingDeck">
        <input type="text" placeholder="Deck name" #deckName>
        <button class="btn btn-info btn-sm" (click)="createDeck(deckName.value); deckName.value= ''">Create</button>
      </form>
    </div>

  <div id="tags" class="row">
    <!-- <div class="tag">
      <div class="triangle"></div>
      <div class="rectangle">Intro</div>
      <div class="circle"></div>
    </div> -->
  </div>
</div>
