<div class="container-fluid">
  <div class="row">




      <select (change)="createDeck($event.target.value)">
        <option>Deck 2</option>
        <option>Deck 3</option>
        <option value="$creating">Create New Deck</option>
      </select>
      <button class="btn btn-outline-danger btn-sm" [hidden]="creatingDeck">Remove Deck</button>
      <form>
        <input type="text" placeholder="Deck name" [hidden]="!creatingDeck">
      </form>
    </div>

  <div id="tags" class="row">
    <!-- <div class="tag">
      <div class="triangle"></div>
      <div class="rectangle">Intro</div>
      <div class="circle"></div>
    </div> -->
  </div>
</div>
