<div *ngIf="!user">
  <app-restricted-access></app-restricted-access>
</div>

<div class="page-container" *ngIf="user">
  <h2>Add Question</h2>
  <button class="btn btn-info" type="button" routerLink="/questions/new" name="button">Add Question</button>
  <div *ngFor="let question of userQuestionsList" class="panel panel-default">
    <div class="panel-body">
      <h3 (click)="goToQuestionDetail(question)"><em>{{question?.questionText}}</em></h3>
      <button class="btn btn-danger"(click)="runDeleteQuestion(question)">Delete</button>
      <hr>
      <br>
      <br>
    </div>
  </div>
</div>
