.container-fluid {
  position: relative;
  height: calc(100vh - 50px);
  overflow: hidden;
}

.root {
  color: lightgray;
}

.row {
  height: 50px;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-bottom: 3%;
  position: relative;
}

.tab {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.selected {
  background-color: #303335;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: white;
}

@media screen and (max-height: 630px) {
  .container-fluid {
    display: none;
  }
}
