<div class="page-container">
  <h1>Edit Deck</h1>
  <form (ngSubmit)="runEditDeck(selectedDeck)" class="deck-form">
    <div class="form-group">
      <label for="name">Deck Name</label>
      <input [(ngModel)]="selectedDeck.name" class="form-control" name="name" id="name" >
    </div>
    <div class="form-group">
      <label for="questions">Questions</label>
      <input [(ngModel)]="selectedDeck.questions" type="text" class="form-control" name="questions" id="questions">
    </div>
    <button class="btn btn-info" type="submit">Submit</button>
  </form>
</div>
