<div class="container-fluid">
  <div class="row">
    <div id="collapse">
      <div ngbDropdown>
        <button class="btn btn-link" ngbDropdownToggle><i class="fa fa-bars"></i></button>
        <div ngbDropdownMenu>
          <button *ngFor="let category of categories | async" class="dropdown-item" routerLink={{category.name}}>{{category.name}}</button>
        </div>
      </div>
    </div>
    <span id="logo" routerLink="">Flashcards</span>
    <span id="email" *ngIf="email">{{email}}</span>
    <button *ngIf="!user" id="login" class="btn btn-outline-secondary btn-sm" routerLink="/login"><span>login</span></button>
    <button *ngIf="user" id="logout" class="btn btn-outline-secondary btn-sm" (click)="runLogOut(); email = ''"><span>logout</span></button>
    <span id="settings">. . .</span>
  </div>
</div>
