h3, label, p { color: white; }
form p {
  display: inline-block;
  margin: 0 10px;
}
form button { margin-top: 10px; }

#top-row {
  justify-content: center;
  margin: 50px 0;
}

#or {
    margin-left: 20%;
    background-color: #303335;
    z-index: 1;
    text-align: center;
    width: 30px;
}

#strikethrough {
    width: 100%;
    background-color: white;
    height: 1px;
    position: relative;
    top: -28px;
    margin: 0 5%;
}

#greeting {
  margin-left: 15%;
  margin-right: 17%;
}

.fa-google { padding-right: 20px; }

.col-9 { max-width: 60%; }

@media screen and (min-width: 870px) {
  .container-fluid {
    width: 70%;
  }
  .col-9 {
    max-width: 70%;
  }
}

@media screen and (max-width: 800px) {
  #greeting {
    display: none;
  }

  .col-9 {
    position: relative;
    margin-left: -20%;
    max-width: 75%;
  }

  input {
    width: 120%;
  }
}
