h3 {
  color: white;
  text-align: center;
}

h5{
  color: white;
  text-align: center;
}

h1{
  margin-left: 20px;
  margin-top: 20px;
}

.deck-form {
  margin-top: 30px;
  width: 80%;
  max-width: 600px;
}

.page-container {
  margin: 20px;
}