h3, label, p { color: white; }

input {
  max-width: 500px;
  width: 90%;

}

#top-row {
  justify-content: center;
  margin: 50px 0;
}

#or {
    margin-left: 20%;
    background-color: #303335;
    z-index: 1;
    text-align: center;
    width: 30px;
}

#strikethrough {
    width: 100%;
    background-color: white;
    height: 1px;
    position: relative;
    top: -28px;
    margin: 0 5%;
}

#greeting {
  margin-left: 15%;
  margin-right: 17%;
}

.fa-google { padding-right: 20px; }

@media screen and (min-width: 870px) {

}

@media screen and (max-width: 800px) {
  #greeting {
    display: none;
  }

  .col-9 {
    position: relative;
    margin-left: -20%
  }

  input {
    width: 120%;
  }
}
