@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

body {
  font-family: 'Alegreya Sans', cursive;
  user-select: none;
}

h1, h2, em, hr {
  color: white;
  border-color: white;
}

.center {
  text-align: center;
}
