<div *ngIf="!user">
  <app-restricted-access></app-restricted-access>
</div>
<div *ngIf="user" class="container-fluid">
  <h2>Decks</h2>
  <button class="btn btn-info" routerLink="/decks/new">Add Deck</button>
  <div *ngFor="let deck of userDeckList" class="panel panel-default">
    <div class="panel-body">
      <h3 (click)="goToDeckDetail(deck)"><em>{{deck?.name}}</em></h3>
      <button class="btn btn-info" (click)="runQuiz(deck)">Quiz Me</button>
      <button class="btn btn-danger" (click)="runDeleteDeck(deck)">Delete</button>
      <hr>
      <br>
      <br>
    </div>
  </div>
</div>
