<div class="page-container">
  <h2>New Question</h2>
  <div>
    <form class="deck-form" (ngSubmit)="runCreateQuestion(newQText.value, newQAnswer.value, newQCategory.value, newQDifficulty.value); newQText.value=''; newQAnswer.value=''; newQAnswer.value='';">
      <div class="form-group">
        <label>Question: </label>
        <input type="text" class="form-control" #newQText>
      </div>
      <div class="form-group">
        <label>Answer: </label>
        <input type="text" class="form-control" #newQAnswer>
      </div>
      <div class="form-group">
        <label>Category: </label>
        <select #newQCategory class="form-control">
          <option value="{{name}}" *ngFor="let name of categoryNames">{{name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Difficulty: </label>
        <select #newQDifficulty class="form-control">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <button class="btn btn-info" type="submit">Submit</button>
    </form>
  <div>
</div>
